{% extends 'base.html' %}

{% block content %}

<h4 class="display-4 align-text-center"> Edit Feedback </h4>
<p class="lead">Modify your feedback below:</p>

<form method="POST" action="{{ url_for('update_feedback', feedback_id=feedback_id) }}">
    {{ form.hidden_tag() }}
    {% for field in form %}
        <p>
            {{ field.label }}
            {{ field(class_="form-control") }}
            {% for error in field.errors %}
                <span class="form-text text-danger">{{ error }}</span>
            {% endfor %}
        </p>
    {% endfor %}
    <button class="btn btn-success" type="submit">Update Feedback</button>
</form>

{% endblock %}
